{
  "env": {
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 2,
    "no-extra-strict": 2,
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "eqeqeq": 2,
    "dot-notation": 0
  }
}
